<div class="user-profile">
  <h2>My profile</h2>
  <div class="profile">
    <img *ngIf="!isPhotoEmpty"
         src="assets/usericon.svg"
         width=150px>
    <img class="profile-img"
         *ngIf="isPhotoEmpty"
         [src]="image">

    <span></span>
    <button class="edit" (click)="edit()" mat-button matTooltip="Edit profile" *ngIf="!isEdit" ><img src="assets/create.svg"></button>
  </div>

  <input class="file-open" *ngIf="isEdit"
  type='file'
  (change)="onSelectFile($event)">

  <form class="user-form"
        [formGroup]="userForm">
    <div class="form-group">
      <mat-form-field class="input-profile"
                      appearance="outline">
        <mat-label>Your First name</mat-label>
        <input matInput
               placeholder=""
               formControlName="firstName"
               required
               [readonly]="isReadOnly">
        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.required">
          First Name is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.minlength">
          First Name must be at least 2 characters
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.maxlength">
          First Name must be 30characters or less
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.pattern">
          Incorect First Name. Please enter characters (A-z`-)
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.used">
          {{ formControls.firstName.errors?.message }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="input-profile"
                      appearance="outline">
        <mat-label>Your Last name</mat-label>
        <input matInput
               placeholder=""
               formControlName="lastName"
               required
               [readonly]="isReadOnly">
        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.required">
          Last Name is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.minlength">
          Last Name must be at least 2 characters
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.maxlength">
          Last Name must be 50 characters or less
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.pattern">
          Incorect Last Name. Please enter characters (A-z`-)
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.used">
          {{ formControls.lastName.errors?.message }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="input-profile"
                      appearance="outline">
        <mat-label>Your User name</mat-label>
        <input matInput
               placeholder=""
               formControlName="userName"
               required
               [readonly]="isReadOnly">
        <mat-error *ngIf="checkErrorsFormControl(formControlsName.userName)?.required">
          User Name is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.userName)?.minlength">
          User Name must be at least 2 characters
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.userName)?.used">
          {{ formControls.userName.errors?.message }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="input-profile"
                      appearance="outline">
        <mat-label>Your Email</mat-label>
        <input matInput
               placeholder=""
               formControlName="email"
               required
               [readonly]="isReadOnly">
        <mat-error *ngIf="checkErrorsFormControl(formControlsName.email)?.required">
          Email is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.email)?.pattern">
          Email must be a valid email address. Example: user@mail.com or user.user@mail.com
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.email)?.used">
          {{ formControls.email.errors?.message }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group"
         *ngIf="isEdit">
      <mat-form-field class="input-profile"
                      appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
               placeholder="At least 6 characters"
               formControlName="password"
               [type]="hidePasword ? 'text' : 'password'">
        <mat-icon matSuffix
                  (click)="hidePasword = !hidePasword">{{hidePasword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="checkErrorsFormControl(formControlsName.password)?.required">
          Password is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.password)?.pattern">
          Incorrect password. Please enter 8 characters (A-z0-9*&^%$£\"~#)
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.password)?.used">
          {{ formControls.password.errors?.message }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group"
         *ngIf="isEdit">
      <mat-form-field class="input-profile"
                      appearance="outline">
        <mat-label>New password</mat-label>
        <input matInput
               placeholder="At least 6 characters"
               id="new-password"
               formControlName="newPassword"
               [type]="hideNewPassword? 'text' : 'password'">
        <mat-icon matSuffix
                  (click)="  hideNewPassword = !  hideNewPassword">
          {{  hideNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="checkErrorsFormControl(formControlsName.newPassword)?.required">
          Password is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.newPassword)?.pattern">
          Incorrect password. Please enter 8 characters (A-z0-9*&^%$£\"~#)
        </mat-error>
      </mat-form-field>
    </div>
    <div class="buttons">
      <button class="save" mat-raised-button *ngIf="isEdit" (click)="save()">Save</button>
      <button class="cancel" mat-raised-button *ngIf="isEdit" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
