.user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .file-open{
    width: 185px;
  }

  .user-form {
    font-size: 14px;

    .form-group {
      width: 400px;
      margin-bottom: 15px;

      .input-profile {
        width: 100%;
      }
    }
  }

  .buttons{
    display: flex;
    align-items: center;

    .save{
      width: 100px;
      margin-left: 40px;
    }

    .cancel{
      margin-left: auto !important;
      margin-right: 40px;
      width: 100px;
    }
  }
}
