.wrapper {
  width: 100%;

  .header {
    width: 100%;
    z-index: 1200;
    position: fixed;
    margin-top: -10px;
    margin-left: -10px;
    height: 70px;

    .logo{
      display: flex;
      justify-content: center;
      width: 200px;
      margin-left: -12px;
      height: 70px;
      background-color: white;
      border-right-color: #e0e0e0;
      border-right-style: solid;
      border-right-width: 1px;
      .title{
        margin-top: 19px;
      }
    }

    .menu{
font-size: 16px;
    }

    .after-sign-in, .sign-in{
      margin-left: auto!important;
    }
  }
  .example-container {
    margin-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    position: fixed;
    margin-left: -5px;

    .example-sidenav {
      width: 200px;
    }
  }
}
