<div class="wrapper">
  <mat-toolbar class="header">
    <div class="logo">
      <h1 class="title">Impression</h1>
    </div>
    <button class="drawer" mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <div class="sign-in"
         *ngIf="!isLoggedIn">
      <button class="signIn " mat-button [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Sign-In<img src="assets/account_circle.svg" width=40px height=40px></button>
      <button matBadge="0" matBadgePosition="before" matBadgeColor="warn" class="cart" mat-raised-button ><img src="assets/shopping_cart.svg">Cart</button>
    </div>
    <div class="after-sign-in"
         *ngIf="isLoggedIn">
      <button class="menu" mat-button [matMenuTriggerFor]= "menu">{{userName}}<img *ngIf="!isPhotoEmpty" src="assets/account_circle.svg" width=40px height=40px><img class="profile-img" *ngIf="isPhotoEmpty" [src]="image" width=40px height=40px></button>
      <mat-menu #menu="matMenu"
                [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="['/managment/user-profile']" routerLinkActive="router-link-active">My Profile</button>
        <button mat-menu-item  *ngIf="role === 'User'" [routerLink]="['/order/userOrder']" routerLinkActive="router-link-active" >My Order</button>
        <button mat-menu-item (click)=logOut()>Log Out</button>
      </mat-menu>
      <button  matBadge="{{cartItemsLength}}" matBadgePosition="before" matBadgeColor="warn" class="button mat-raised-button" mat-raised-button><img src="assets/shopping_cart.svg">Cart</button>
    </div>
  </mat-toolbar>
  <mat-drawer-container class="example-container"
                        autosize>
    <mat-drawer #drawer
                class="example-sidenav"
                mode="side">
      <div class="menu"
           *ngIf="role === 'Admin'">
        <mat-nav-list>
          <a mat-list-item href="/managment/user-managment">User managment</a>
          <a mat-list-item href="/managment/order-managment">Order managment</a>
        </mat-nav-list>
      </div>
    </mat-drawer>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
