<div class="container">
  <img src="assets/usericon.svg"
       alt="img"
       width=150px
       height=150px>
  <div class="title">Login</div>
  <form class="login-form"
        [formGroup]="loginForm">
    <div class="form-group">
      <mat-form-field appearance="outline" class="input-login">
        <mat-label>Email</mat-label>
        <input matInput
               placeholder=""
               formControlName="email">
        <mat-error *ngIf="responseErrors?.errors">
          {{ formControls.email.errors?.message }}
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email is required</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="input-login">
        <mat-label> Password</mat-label>
        <input matInput
               placeholder=""
               formControlName="password"
               [type]="hide ? 'text' : 'password'">
        <mat-icon matSuffix
                  (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align='end'
                  [routerLink]="['/auth/forgot-password']"
                  routerLinkActive="router-link-active"> Forgot your password?</mat-hint>
        <mat-error *ngIf="responseErrors?.errors">
          {{ formControls.password.errors?.message }}
        </mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is required</mat-error>
      </mat-form-field>
    </div>
  </form>

  <div class="buttons-wraper">
    <button class="button" mat-raised-button (click)="login()"> Login </button>
    <div class="label">Create a new account?</div>
    <button class="button" [routerLink]="['/auth/registration']" routerLinkActive="router-link-active"  mat-raised-button>Registration</button>
  </div>

  <ngx-spinner>
    <p class="loading"
       style='color: #E7E9ED'>Loading...</p>
  </ngx-spinner>
</div>
