.container{
  margin-top: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title{
    font-size: 40px;
  }

  .form-group{
    width: 400px;
    margin-top: 10px;
    .input-login{
      width: 100%;
    }
  }

  .buttons-wraper{
    width: 300px;
    margin-top: 10px;
    .button{
      margin-top: 10px;
      width: 100%;
      font-size: 16px;
    }
    .label{
      margin-top: 10px;
      width: 100%;
      text-align: center;
    }
  }
}
