<div class="wrapper">
  <h1 class="user-label">User managment</h1>
  <div class="filter-wrapper">
    <mat-form-field class="filter-string">
      <mat-label>Enter E-mail or User Name</mat-label>
      <input matInput placeholder="" [(ngModel)]="filter.searchString" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
    <button class="filter-button" mat-raised-button (click)="getUsers()">Filtered</button>
  </div>
  <div class="table-wrapper">
    <table class="table"
           mat-table
           matSort
           (matSortChange)="sortUser($event)"
           [dataSource]="dataSource"
           [matSortDisableClear]="true">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>First Name</th>
        <td mat-sell
            *matCellDef="let item">{{item.firstName}}</td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>Last Name</th>
        <td mat-sell
            *matCellDef="let item">{{item.lastName}}</td>
      </ng-container>
      <ng-container matColumnDef="userName">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>User Name</th>
        <td mat-sell
            *matCellDef="let item">{{item.userName}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>Email</th>
        <td mat-sell
            *matCellDef="let item">{{item.email}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell
            *matHeaderCellDef>
          <button class="menu-button" mat-button [matMenuTriggerFor]="menu" (menuClosed)="getUsers()">Status </button>
          <mat-menu #menu="matMenu">
            <div class="check-boxes" *ngFor="let item of lockoutStatusOption; let i = index">
              <mat-checkbox [(ngModel)]="item.checked" (change)="onChecked($event, i)" [ngModelOptions]="{ standalone: false }" (click)="$event.stopPropagation();">{{ item.label }}</mat-checkbox>
            </div>
          </mat-menu>
        </th>
        <td mat-sell
            *matCellDef="let item">
          <mat-slide-toggle [checked]="!item.isDisabled"
                            (change)="setLockout(item, $event.source.checked)"></mat-slide-toggle>
        </td>
      </ng-container>
      <ng-container matColumnDef="crud">
        <th mat-header-cell
            *matHeaderCellDef></th>
        <td class="crud"
            mat-sell
            *matCellDef="let element">
          <div class="crud-button">
            <button class="edit" mat-button (click)="editUser(element)">
              <img src="assets/create.svg" height="30px" width="30px" />
            </button>
            <button class="delete" mat-button>
              <img src="assets/clear.svg" height="30px" width="30px" />
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator #paginatorUser
                   [length]="pageTotal"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="getUsers()"
                   [showFirstLastButtons]="false">
    </mat-paginator>
  </div>
</div>
