.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 250px;
  margin-top: 200px;
  .filter-wrapper {
    width: 600px;
    .filter-string {
      width: 500px;
    }
    .filter-button {
      margin-left: 2%;
    }
  }
  .table-wrapper {
    width: 1300px;
    .table {
      width: 100%;

      .mat-header-cell {
        padding-left: 0px;
        width: 250px;
        text-align: center;
        font-size: 14px;
        box-shadow: inset -2px 0px 0px 0px rgba(0, 0, 0, 0.12);
        color: black;
      }

      td {
        text-align: center;
        box-shadow: inset -2px 0px 0px 0px rgba(0, 0, 0, 0.12);
      }
    }
  }
}

.check-boxes {
  margin-left: 10px;
}

