.container {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-size: 32px;
  }
  .user-form {
    font-size: 14px;
    .form-group {
      width: 300px;
      margin-bottom: 15px;
      .input-edit {
        width: 100%;
      }
    }
  }
  .buttons{
    display: flex;
    align-items: center;

    .cancel{
      width: 100px;
      margin-left: 40px;
    }

    .save{
      margin-left: auto !important;
      margin-right: 40px;
      width: 100px;
    }
  }
}
