<div class="container">
  <h1 mat-dialog-title class="title"> Edit profile</h1>
   <h1 mat-dialog-title class="title"> {{userData.firstName+' '+userData.lastName}}</h1>
  <img src="assets/usericon.svg"
       width=100px
       height=100px>
  <form class="user-form"
        [formGroup]="userForm">
    <div class="form-group">
      <mat-form-field class="input-edit"
                      appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput
               formControlName="firstName">
        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.required">
          First Name is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.minlength">
          First Name must be at least 2 characters
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.maxlength">
          First Name must be 30characters or less
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.pattern">
          Incorect First Name. Please enter characters (A-z`-)
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="input-edit"
                      appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput
               formControlName="lastName">
        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.required">
          Last Name is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.minlength">
          Last Name must be at least 2 characters
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.maxlength">
          Last Name must be 50 characters or less
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.pattern">
          Incorect Last Name. Please enter characters (A-z`-)
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="input-edit"
                      appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput
               formControlName="userName">
        <mat-error *ngIf="checkErrorsFormControl(formControlsName.userName)?.required">
          User Name is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.userName)?.minlength">
          User Name must be at least 2 characters
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="input-edit"
                      appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email">
        <mat-error *ngIf="checkErrorsFormControl(formControlsName.email)?.required">
          Email is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.email)?.pattern">
          Email must be a valid email address. Example: user@mail.com or user.user@mail.com
        </mat-error>
      </mat-form-field>
    </div>

    <div class="buttons">
      <button mat-raised-button class="cancel" (click)="closeWindow()">Cancel</button>
      <span></span>
      <button mat-raised-button class="save" [disabled]="userForm.invalid" (click)="saveData()">Save</button>
    </div>

  </form>
</div>
