<div class="forgot-password" *ngIf="!isValidFormSubmitted">
  <img src="assets/usericon.svg" alt="img" width=130px height=130px>
  <h2 class="title">Passsword assistance</h2>
  <div class="lable">Enter the email address associated with your account.</div>
<form class="forgot-password-form" [formGroup]="forgotPasswordForm">
  <div class="form-group-email">
    <mat-form-field appearance="outline" class="email">
      <mat-label>Email</mat-label>
      <input matInput placeholder="" formControlName="email" required>
      <mat-error *ngIf= "forgotPasswordForm.controls['email'].hasError('pattern') && !forgotPasswordForm.controls['email'].hasError('required')">Please enter a valid email address </mat-error>
      <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('required')">Email is required</mat-error>
    </mat-form-field>
  </div>
</form>
<button class="continue" mat-raised-button (click)="submit()"> Continue </button>
</div>
<div class="password-assistance" *ngIf="isValidFormSubmitted">
<img src="assets/usericon.svg" alt="img" width=130px height=130px>
<h2 class="title">Passsword assistance</h2>
<div class="lable">You will receive an e-mail with a new password to login onto your e-mail box stated in your Personal Profile</div>
<div class="lable">Please contact our administrato if you don't receive an email message whith a new password</div>
<button class="continue" mat-raised-button [routerLink]="['/auth/login']" routerLinkActive="router-link-active">Continue</button>
<ngx-spinner>
  <p class="loading"
     style='color: #E7E9ED'>Loading...</p>
</ngx-spinner>
</div>
