.forgot-password {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 40px;
  }

  .lable{
    width: 80%;
    font-size: 30px;
    text-align: center;
  }

  .form-group-email{
    margin-top: 10px;
    width: 400px;
    .email{
      width: 100%;
    }
  }
  .continue{
    width: 150px;
    margin-top: 10px;
    font-size: 16px;
    height: 50px;
  }
}

.password-assistance {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 40px;
  }

  .lable{
    width: 80%;
    font-size: 30px;
    text-align: center;
  }

  .form-group-email{
    margin-top: 10px;
    width: 400px;
    .email{
      width: 100%;
    }
  }
  .continue{
    width: 150px;
    margin-top: 10px;
    font-size: 16px;
    height: 50px;
  }
}
