.confirm-email{
  margin-top: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .lable{
    margin-top: 20px;
    font-size: 50px;
  }
  .continue{
    margin-top: 20px;
    font-size: 25px;
    width: 300px;
  }
}
