<div class="confirm-email"
     *ngIf="!hideConfirmEmail">
  <img src="assets/done_outline.svg"
       alt="done_outline-24px"
       width=200px
       height=200px>
  <div class="lable">Thank you for your registration</div>
  <button class="continue" mat-raised-button [routerLink]="['/account/signIn']" routerLinkActive="router-link-active" (click)="continue()">Continue</button>
</div>
<div class="confirm-email"
     *ngIf="hideConfirmEmail">
  <img src="assets/error_outline.svg"
       alt="done_outline-24px"
       width=100px
       height=100px>
  <div class="lable">Error confirming email.{{error}}. Contact the administration</div>

  <ngx-spinner>
     <p class="loading"
        style='color: #E7E9ED'>Loading...</p>
   </ngx-spinner>
</div>
