<div class="wrapper"
     *ngIf="!isValidFormSubmitted">

  <h2 class="title">Registration</h2>

  <img *ngIf="!url"
       src="assets/usericon.svg"
       alt="img"
       width=150px>

  <img class="profile-img"
       *ngIf="url"
       [src]="url">

  <input class="file"
         type='file'
         (change)="onSelectFile($event)">

  <form class="sign-up-form"
        [formGroup]="signUpForm">

    <div class="form-group">
      <mat-form-field class="input-registration"
                      appearance="outline">
        <mat-label>Your First name</mat-label>
        <input matInput
               placeholder=""
               formControlName="firstName"
               required>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.required">
          First Name is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.minlength">
          First Name must be at least 2 characters
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.maxlength">
          First Name must be 30characters or less
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.pattern">
          Incorect First Name. Please enter characters (A-z`-)
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.firstName)?.used">
          {{ formControls.firstName.errors?.message }}
        </mat-error>

      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="input-registration"
                      appearance="outline">
        <mat-label>Your Last name</mat-label>
        <input matInput
               placeholder=""
               formControlName="lastName"
               required>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.required">
          Last Name is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.minlength">
          Last Name must be at least 2 characters
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.maxlength">
          Last Name must be 50 characters or less
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.pattern">
          Incorect Last Name. Please enter characters (A-z`-)
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.lastName)?.used">
          {{ formControls.lastName.errors?.message }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="input-registration"
                      appearance="outline">
        <mat-label>Your User name</mat-label>
        <input matInput
               placeholder=""
               id="last-name"
               formControlName="userName"
               required>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.userName)?.required">
          User Name is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.userName)?.minlength">
          User Name must be at least 2 characters
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.userName)?.used">
          {{ formControls.userName.errors?.message }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="input-registration"
                      appearance="outline">
        <mat-label>Your Email</mat-label>
        <input matInput
               placeholder=""
               id="email"
               formControlName="email"
               required>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.email)?.required">
          Email is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.email)?.pattern">
          Email must be a valid email address. Example: user@mail.com or user.user@mail.com
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.email)?.used">
          {{ formControls.email.errors?.message }}
        </mat-error>

      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="input-registration"
                      appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
               placeholder=""
               id="password"
               formControlName="password"
               [type]="hidePasword ? 'text' : 'password'"
               required>
        <mat-icon matSuffix
                  (click)="hidePasword = !hidePasword">{{hidePasword ? 'visibility' : 'visibility_off'}}</mat-icon>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.password)?.required">
          Password is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.password)?.pattern">
          Incorrect password. Please enter 8 characters (A-z0-9*&^%$£\"~#)
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.password)?.used">
          {{ formControls.password.errors?.message }}
        </mat-error>

      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="input-registration"
                      appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput
               placeholder=""
               id="password-confirm"
               formControlName="passwordConfirm"
               [type]="hideConfirmPassword ? 'text' : 'password'"
               required
               (ngModelChange) ="matchPasswords()">
        <mat-icon matSuffix
                  (click)="  hideConfirmPassword = !  hideConfirmPassword">
          {{  hideConfirmPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="checkErrorsFormControl(formControlsName.passwordConfirm)?.required">
          Password is required
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.passwordConfirm)?.pattern">
          Incorrect password. Please enter 8 characters (A-z0-9*&^%$£\"~#)
        </mat-error>

        <mat-error *ngIf="checkErrorsFormControl(formControlsName.passwordConfirm)?.used">
          {{ formControls.passwordConfirm.errors?.message }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  <div class="loading">
    <button class="sign-up-button" mat-raised-button (click)="registration()">Registration</button>
  </div>
  <ngx-spinner>
    <p class="loading"
       style='color: #E7E9ED'>Loading...</p>
  </ngx-spinner>
</div>

<div class="wrapper-after-submit"
     *ngIf="isValidFormSubmitted">
  <h1 class="title-after-submit">Confirm your email address</h1>
  <div class = "information-after-submit">
    <div class="information"> We have sand an email with a confirmation link to your email adress. In order to complete
      the sing-up process,
      please click the confirmation link</div>
    <div></div>
    <div class="information"> If you do not receive a confirmation email, please check your spam folde. Also, please
      verify that, you entered
      a valid email address in our sing-up form</div>
  </div>
</div>
