.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 40px;
  }

  .profile-img {
    height: 200px;
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 50%;
  }

  .file {
    width: 177px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sign-up-form {
    font-size: 14px;

    .form-group {
      width: 400px;
      margin-bottom: 15px;

      & .input-registration {
        width: 100%;
      }
    }
  }

  .loading {
    width: 200px;
    .sign-up-button {
      width: 100%;
    }
  }
}

.wrapper-after-submit {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-after-submit {
    font-size: 50px;
  }

  .information-after-submit {
    width: 80%;

    .information {
      font-size: 35px;
      text-align: center;
    }
  }
}
